@import "../../style/@mixins"

.card
    padding: 16px 16px 0 0
    border-top: 2px solid #1B1B1B
    border-right: 2px solid #1B1B1B
    min-height: 240px

.title
    @include title
    font-size: 29px
    line-height: 33.5px
    margin-bottom: 16px

.text
    @include textLora
    font-size: 17px
    line-height: 24px
